.heading{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    font-weight: 700;
}
.coin-name{
    margin-left: -4rem;
}

@media screen and (max-width:720px){
    .hide-mobile{
        display: none;
    }
    
}
.coin-row:hover{
    transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer;

}
.coin-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    margin: 2rem 1rem;
    padding: .7rem 1rem;

}
.img-symbol{
    display: flex;
    align-items: center;
}
.img{
    width : auto;
    margin-right: 8px;
    height : 40px;
}